@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

@media (max-width: 375px) {
  .✨ {
    margin: 5.3125rem auto;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 10rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  box-sizing: border-box;
}

body {
  font-size: 15px;
}

h1 {
  font-family: "Big Shoulders Display", sans-serif;
  color: hsl(0, 0%, 95%);
  font-weight: 700;
  padding-left: 3rem;
  padding-top: 1rem;
}

p {
  font-family: "Lexend Deca", sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: 400;
  padding-left: 3rem;
  padding-right: 4rem;
  text-align: left;
}

img {
  position: relative;
  padding-top: 3rem;
  padding-left: 3rem;
}

.✨ {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.🚗 {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  width: 20rem;
  height: 30rem;
}

.🚙 {
  background-color: hsl(184, 100%, 22%);
  width: 20rem;
  height: 30rem;
}

.🚐 {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  width: 20rem;
  height: 30rem;
}